.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*NAVIGATION MENU ACROSS TOP*/
.navigationMenu{
  padding: 30px;
}

.navigationMenuItems{
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
  padding: 10px;
}

.navigationMenuItems:hover{
  background-color: gray;
}

/*ALL STUDENTS PAGE*/
.allStudentsTitle{
  text-align: center;
  color: white;
  background-color: rgb(175, 175, 175);
  padding: 100px;
}

.allStudentsDescription{
  text-align: center;
  background-color: rgb(166, 248, 166);
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 15px;;
}

.addStudentLink{
  text-decoration: none;
  color:black;
  border: 2px solid black;
  margin-left: 10px;
}

.addStudentLink:hover{
  background-color: gray;
}

/*STUDENT CARD*/
.studentCard{
  display: grid;
  display: inline-block;
  background-color: rgb(197, 197, 255);
  margin: 20px;
}

.studentImage{
  grid-column: 1;
  grid-row: 1;
}

.studentImage img{
  width: 200px;
  height: 200px;
}

.studentInfo{
  grid-row: 2;
  padding: 10px;
}

/*NEW CAMPUS FORM CSS*/
.AddCampusForm {
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid black
}

.campusFormTitle{
  font-size: 25px;
}

.campusFormInputs{
  margin: 5px;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
}

.newCampusBackButton{
  margin-left: 500px;
}

/*NEW STUDENT FORM CSS*/
.newStudentForm {
  text-align: center;
  margin-top: 70px;
  margin-left: 300px;
  margin-right: 300px;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid black
}

.newStudentTitle{
  font-size: 25px;
}

.newStudentInputs{
  margin: 5px;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
}

.newStudentBackButton{
  margin-left: 500px;
}